<header>
  <nav class="nav">
    <div class="logo">
      <img src="../assets/images/logo-play.svg" alt="logo">
    </div>
    <ul class="nav-menu">
      <li class="nav-menu__item"><a class="nav-menu__item-link j-router-link" data-href="/author">Home</a></li>
      <li class="nav-menu__item"><a class="nav-menu__item-link j-router-link" data-href="/band">Profile</a></li>
      <li class="nav-menu__item"><a class="nav-menu__item-link j-router-link" data-href="/track">Messages</a></li>
    </ul>
  </nav>
</header>
<div class="j-router-view"></div>