<header>
  <nav>
    <ul>
      <li>
        <a class="j-router-link" data-href="/author">Author</a>
      </li>
      <li>
        <a class="j-router-link" data-href="/band">Band</a>
      </li>
      <li>
        <a class="j-router-link" data-href="/track">Track</a>
      </li>
    </ul>
  </nav>
</header>
<div class="j-router-view"></div>