<div class="error">
  <div class="error__content">
    <p class="error__text">Oops! Page not found.</p>
    <p class="error__code">{{ errorCode }}</p>
    <a class="btn error__link j-router-link" data-href="/app">Go home</a>
  </div>
</div>