@import "variables.less";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Libre Baskerville', serif;
}

a {
	cursor: pointer;
}

b, i {
	font-size: inherit;
}

.btn {
	display: inline-block;
	width: auto;
	padding: 10px 20px;
	color: @black;
	background: @yellow;
	&:hover {
		text-decoration: underline;
		opacity: .8;
		cursor: pointer;
	}
}

.nav {
	height: 100px;
	width: 100%;
	background: @black;
	.logo {
		display: inline-block;
		padding: 10px;
		width: 100px;
		height: 100px;
	}
}
	
.nav-menu {
	display: inline-block;
	height: 100%;
	margin-left: 25px;
	vertical-align: top;
	&__item {
		display: inline-block;
		width: 150px;
		height: 100%;
		text-align: center;
		list-style: none;
	}
	&__item-link {
		display: block;
		height: 100%;
		font-size: 24px;
		font-weight: bold;
		line-height: 100px;
		text-decoration: none;
		color: @yellow;
		cursor: pointer;
		&:hover {
			color: @black;
			background: @yellow;
		}
	}
	&__item-link.active {
		color: @black;
		background: @yellow;
	}
}

.content {
	height: calc(100vh - 180px);
	padding: 20px 30px;
	overflow: hidden;
	overflow-y: auto;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 80px;
	padding: 0 40px;
	background: @black;
	&__link {
		color: @yellow;
		&:hover {
			text-decoration: none;
		}
	}
	&__dev {
		padding: 6px 0;
		text-align: center;
		color: @yellow;
	}
	&__logo {
		display: inline-block;
		padding: 10px;
		width: 60px;
		height: 60px;
	}
}

.error {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
	text-align: center;
	&__content {
		margin: auto;
	}
	&__text {
		margin: 20px auto;
	}
	&__code {
		margin: 10px auto;
		font-size: 10em;
		color: @yellow;
	}
	&__link {
		width: 120px;
		margin: 10px auto;
	}
}
