@import "variables.less";

.test {
	width: 50%;
	overflow: hidden;
	border: 2px dashed rebeccapurple;
	.test__text {
		color: @aqua;
		background-color: aliceblue;
	}
	.test__content {
		color: red;
	}
}