@import "variables.less";

* {
	margin: 0;
	padding: 0;
}

.nav {
	height: 100px;
	width: 100%;
	background: @black;
	.logo {
		display: inline-block;
		width: 100px;
		height: 100%;
		img {
			width: 100%;
		}
	}
	.nav-menu {
		display: inline-block;
		height: 100%;
		margin-left: 25px;
		vertical-align: top;
		.nav-menu__item {
			display: inline-block;
			width: 150px;
			height: 100%;
			text-align: center;
			list-style: none;
			.nav-menu__item-link {
				display: block;
				height: 100%;
				font-weight: bold;
				line-height: 100px;
				text-decoration: none;
				color: @yellow;
				cursor: pointer;
				&:hover {
					color: @black;
					background: @yellow;
				}
			}
		}
	}
}
