@import "variables.less";

.top-artists {
  &__list {
    position: relative;
  }
  &__tag {
    position: relative;
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background: @yellow;
    color: @black;
    text-decoration: none;
    &:hover {
      opacity: .7;
      cursor: pointer;
    }
  }
}